<div class="grid-header">
  <mat-form-field>
    <input matInput placeholder="Search" #input (keyup.esc)="clearInput()" />
  </mat-form-field>
</div>

<div class="loading-shade" *ngIf="dataSource?.loading$ | async">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="responsive-table">
  <mat-table *ngIf="dataSource" [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{column.name}}">
      <mat-header-cell *matHeaderCellDef>
        {{ column.displayName }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!--With more time this should be split into displaying row based on type (text, image, date...)-->
        {{row[column.name!]}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="control">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource?.total$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>