<mat-card>
  <mat-card-header>
    <mat-card-title>Characters</mat-card-title>
    <mat-card-actions>
      <button mat-stroked-button (click)="grid?.refresh()">
        Refresh
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <data-grid [dataSource]="dataSource" [columns]="columns"></data-grid>
  </mat-card-content>
</mat-card>