.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

app-header {
  width: 100%;
}

.page-wrapper {
  height: calc(100vh - 64px);
  .page-content {
    padding: 15px;
  }
}
